// COLORS
$color-primary: #382ae1;
$color-primary-hover: #766cf1;
$color-primary-shadow: #0d30bd;
$color-background: #e0e8ff;
$color-white: #fff;
$color-light-gray: #f7f9ff;
$color-gray: #717fa6;
$color-dark-gray: #1f2e55;

// SPACE
$space-1: 1.7rem;
$space-2: 2rem;
$space-3: 3.2rem;
$space-4: 4.5rem;

// BREAKPOINTS
$breakpoint-tablet: 768px;
